// BOOSTRAP OVERIDES

.st0 {
  fill: #08808a;
}
$brand-primary: #123438 !default;
$brand-secondary: #221f20 !default;
$brand-tertiary: #ff6e00 !default;
$brand-footer-color: #3e3e07;
$brand-light-yellow: #d5ce3b;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #e8e8e8;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #4c4a8a;
$brand-bg-color: $brand-primary;

$font-primary: "PublicSans-Regular", sans-serif;
$font-secondary: "Gambarino-Regular", serif;
$font-tertiary: "Bonny-Regular', serif";
$font-numbers: "Melodrama-Semibold", serif;

$font-size-base: 16px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

// Extra small screen / phone
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop

$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop

$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

@font-face {
  font-family: "BebasKai";
  src: url("../fonts/BebasKai/fonts/BebasKai.ttf") format("truetype");
}
@font-face {
  font-family: "Bonny-Regular";
  src: url("../fonts/Bonny/Fonts/WEB/fonts/Bonny-Bold.woff2") format("woff2"),
    url("../fonts/Bonny/Fonts/WEB/fonts/Bonny-Regular.woff") format("woff"),
    url("../fonts/Bonny/Fonts/WEB/fonts/Bonny-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Bonny-Medium";
  src: url("../fonts/Bonny/Fonts/WEB/fonts/Bonny-Medium.woff2") format("woff2"),
    url("../fonts/Bonny/Fonts/WEB/fonts/Bonny-Medium.woff") format("woff"),
    url("../fonts/Bonny/Fonts/WEB/fonts/Bonny-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Bonny-Bold";
  src: url("../fonts/Bonny/Fonts/WEB/fonts/Bonny-Bold.woff2") format("woff2"),
    url("../fonts/Bonny/Fonts/WEB/fonts/Bonny-Bold.woff") format("woff"),
    url("../fonts/Bonny/Fonts/WEB/fonts/Bonny-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gambarino-Regular";
  src: url("../fonts/Gambarino/Fonts/WEB/fonts/Gambarino-Regular.woff2")
      format("woff2"),
    url("../fonts/Gambarino/Fonts/WEB/fonts/Gambarino-Regular.woff")
      format("woff"),
    url("../fonts/Gambarino/Fonts/WEB/fonts/Gambarino-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Melodrama-Light";
  src: url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Light.woff2")
      format("woff2"),
    url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Light.woff")
      format("woff"),
    url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Melodrama-Regular";
  src: url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Regular.woff2")
      format("woff2"),
    url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Regular.woff")
      format("woff"),
    url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Melodrama-Medium";
  src: url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Medium.woff2")
      format("woff2"),
    url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Medium.woff")
      format("woff"),
    url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Melodrama-Semibold";
  src: url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Semibold.woff2")
      format("woff2"),
    url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Semibold.woff")
      format("woff"),
    url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Semibold.ttf")
      format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Melodrama-Bold";
  src: url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Bold.woff2")
      format("woff2"),
    url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Bold.woff") format("woff"),
    url("../fonts/Melodrama/Fonts/WEB/fonts/Melodrama-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PublicSans-Regular";
  src: url("../fonts/PublicSans/Fonts/WEB/fonts/PublicSans-Regular.woff2")
      format("woff2"),
    url("../fonts/PublicSans/Fonts/WEB/fonts/PublicSans-Regular.woff")
      format("woff"),
    url("../fonts/PublicSans/Fonts/WEB/fonts/PublicSans-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
