/**********************************STANDARD************************************************************/
.pagehero {
  position: relative;
  height: 100vh;
  &:before {
    content: "";
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
    height: 85vh;
  }
  @media screen and (min-width: 100px) and (max-width: 767px) {
    height: 70vh;
  }
}

.hero-image-bg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.hero-content {
  z-index: 10;
  position: relative;
  height: 100%;
}
.heading-text {
  font-family: $font-numbers;
  font-weight: 800;
  @include font-size(60px);
}
.why-chose-us {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/***********************************************HOME PAGE********************************************/

.intro_image_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .unset_img img {
    width: unset !important;
  }
  .intro_image {
    height: 450px;
    width: 300px;
  }

  @media screen and (max-width: $screen-md) {
    margin-bottom: 5rem;
    .unset_img img {
      width: 100%;
    }
    .intro_image {
      max-height: 350px;
      width: unset !important;
    }
  }
}

/***********************************************ABOUT PAGE********************************************/
//ABOUT IMAGES

//ABOUT SECTIONS
.sec {
  min-height: 75vh;
  position: relative;
  @media screen and (max-width: $screen-md) {
    min-height: 60vh;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: skewY(-1deg);
    background: $brand-primary;
  }
  &.sec-1 {
    &:before {
      content: "";
      box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 6px, rgba(0, 0, 0, 0.3) 0px 3px 6px;
    }
  }
  &.sec-2::before {
    background: $brand-secondary;
  }
  &.sec-3::before {
    background: $brand-brown-color;
    transform: skew(0);
  }
}

//@media screen and (max-width: $screen-md) {
//}
//     @include mini-desktopxd{
//    .innercontactform ul li.form_paddbtm .roboto li:first-child img {height: 50px;}
//   .filloutformarea{
//     .font60 {font-size: 40px;line-height: 60px;margin-bottom: 50px;}
//     .boldlist{
//       &::after {height: 200px;width: 200px;}
//       li{padding: 0px 0px 45px 45px;
//         &::after{height: 20px;width: 20px;}
//         &::before{left: 10px;}
//         h3{@include fontSize(20px);}
//         p{font-size: 12px; max-width: 340px; line-height:24px;}
//       }
//     }
//   }
//   li .form_box {margin-bottom: 45px;}
// }
