@import "config";

//NAVBAR

@media (min-width: 600px) {
  .site-header__wrapper {
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.nav__item a {
  display: block;
  padding: 1.5rem 1rem;
}

.nav__toggle {
  display: none;
}
@media (max-width: 599px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

@media (max-width: $screen-xs) {
  .basic_image {
    height: 30vh !important;
  }
}

@media (max-width: $screen-sm) {
  .mobile-centered-div {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  #about_intro,
  #featured_destinations,
  #categories {
    padding: 5rem 0 5rem 0 !important;
  }
  //HERO SECTION
  .hero__pattern {
    height: 100% !important;
    width: 100% !important;
  }
  //INTRO TEXT
  .intro_text {
    padding: 0 1rem !important;
    line-height: 1.8 !important;
  }

  //BUTTON STYLING

  .intro_btn {
    padding: 0 1rem !important;
  }

  // INTRO IMAGE
  .basic_image {
    height: 40vh !important;
  }
  // FEATURED DESTINATIONS
  .item {
    height: 300px !important;
    width: 300px !important;
  }

  //ADVERT SECTION

  .container__desc {
    display: none;
  }

  //EMBLA CAROUSEL
  .embla__slide__img {
    height: 350px !important;
    width: 300px !important;
  }
  //CAROUSEL CONTROLS
  .float-bottom {
    bottom: unset !important;
  }
}

@media (max-width: $screen-md) {
  .d-md {
    display: block !important;
  }
  // INTRO IMAGE
  .basic_image {
    height: 40vh !important;
  }

  // STYLING IMAGE IN INTRO SECTION

  .intro_image_container {
    align-items: unset !important;
  }

  //INTRO TEXT
  .intro_text {
    padding: 0 3rem 0 1rem !important;
  }

  //BUTTON STYLING

  .button-diamond {
    width: 6.5vw !important;
    height: 6.5vw !important;
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
  // FEATURED DESTINATIONS
  .item {
    height: 300px !important;
    width: 100% !important;
  }
}
