@import "../../node_modules/rfs/scss";
@import "config";
@import "embla";
@import "pages";
@import "external";

//MIXINS
@mixin transition($transition) {
  transition: all $transition ease;
}
@mixin border-radius($radius) {
  border-radius: $radius;
}
@mixin inline-block() {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

@for $i from 1 through 4 {
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}

// DEFAULT STYLING

body {
  line-height: 1.6;
  color: $brand-white !important;
  background: $brand-bg-color !important;
  overflow-x: hidden !important;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: $brand-secondary;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $brand-tertiary;
    border-radius: 10px;
    height: 10px;
  }
}

p {
  font-family: $font-primary;
  letter-spacing: 1.5px;
  @include font-size(14px);
}

a {
  color: $brand-white !important;
  text-decoration: none !important;
  @include transition(0.5s);

  &:hover {
    color: $brand-tertiary !important;
  }
}

section {
  position: relative;
  min-height: 100vh;
  padding: 6rem 0 0;
  .footer_section_image {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0.3;
  }
}

//CUSTOM CLASSES AND IDS

#hero {
  position: relative;
  height: 100vh;
}
.background-brown {
  background-color: $brand-brown-color !important;
}
.bg-tertiary {
  background-color: $brand-tertiary !important;
}
.text-black {
  color: $brand-black !important;
}
.text-for-bright-bg {
  color: $brand-primary;
}
.text-banner {
  font-family: $font-numbers;
  font-weight: 800;
  letter-spacing: 3px;
  @include font-size(30px);
}
.text-spacing-pad {
  padding-bottom: 3rem;
  @media (max-width: $screen-md) {
    padding-bottom: 1rem;
  }
}

@media (max-width: $screen-sm) {
  .mobile-centered-div {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

//NAVBAR MENU STYLING
.brand_nav {
  position: fixed;
  top: -150px;
  width: 100%;
  z-index: 50;
  @include transition(0.5s);
  @media screen and (max-width: $screen-md) {
    top: 0;
  }
}
.brand_nav.active {
  top: 0;
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
}

.top-menu {
  padding: 5px 30px;
  background: rgba(0, 0, 0, 0.29);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  @include transition(0.5s);

  @media screen and (max-width: $screen-sm) {
    padding: 5px 1em;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.95);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
  }
}
.menu-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 15%;
  @media screen and (min-width: 431px) and (max-width: $screen-sm) {
    width: 30%;
  }
  @media screen and (min-width: 100px) and (max-width: 430px) {
    width: 50%;
  }
}
.menu {
  width: 85%;
  @media screen and (min-width: 431px) and (max-width: $screen-sm) {
    width: 70%;
  }
  @media screen and (min-width: 100px) and (max-width: 430px) {
    width: 50%;
  }
}
.nav-wrap {
  position: relative;
}
.navitem {
  display: block;
  float: right;

  @include transition(0.5s);
  @media screen and (max-width: $screen-md) {
    transform: translateY(-100%);
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
    background: $brand-black;
    height: 100vh;
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
    &.open {
      transform: translateY(0);
    }
    @media screen and (min-width: 100px) and (max-width: $screen-sm) {
      width: 100%;
    }
  }
}

.menu-items {
  display: flex;
  margin: 0;
  align-items: center;
  padding: 0;
  list-style: none;
  flex-direction: row;
  @media screen and (max-width: $screen-md) {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    //align-items: center;
    //justify-content: center;
    //@include transition(0.5s);

    // &.open {
    //   transform: translateY(0);
    //
    // }
  }

  li {
    padding: 0 2rem;
    margin: 1rem 0;
    @include transition(0.5s);
    a {
      font-family: $font-numbers;
    }
    @media (max-width: $screen-md) {
      transform: translateX(100vw);
      &.open {
        transform: translateX(0);
      }
    }
  }
}

// .menu-items.open {
//   @media screen and (max-width: $screen-md) {
//     flex-direction: column;
//   }
// }
/*Toggle Menu*/
.sidebar__menu {
  float: right;
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 50;
  cursor: pointer;
  transition: transform 0.4s ease-in-out 0.2s;

  &:before,
  &:after {
    content: "";
    height: 2px;
    width: 24px;
    background: $brand-white;
    display: block;
    position: absolute;
    transition: transform 0.4s ease-in-out 0.2s;
  }
  &:before {
    transform: translatex(0) rotate(45deg);
  }
  &:after {
    transform: translatex(0) rotate(133deg);
  }
  @media (max-width: $screen-sm) {
    &:before,
    &:after {
      content: "";
      height: 1px;
    }
  }
  &.open {
    @media screen and (max-width: $screen-md) {
      display: flex;
      transition: transform 0.4s ease-in-out 0.2s;
    }
  }
  &.close {
    @media screen and (max-width: $screen-md) {
      display: none;
      transition: transform 0.4s ease-in-out 0.2s;
    }
  }
}
.ham_container {
  float: right;
  position: relative;
  z-index: 50;
}
.hamburger {
  display: flex;
  height: 24px;
  width: 24px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;

  &__icon {
    display: inline-block;
    height: 1px;
    width: 24px;
    background: #fff;
    border-radius: 2px;
    transition: transform 0.4s ease-in-out 0.2s;
  }
  &.open {
    @media screen and (max-width: $screen-md) {
      display: flex;
      transition: transform 0.4s ease-in-out 0.2s;
    }
  }
  &.close {
    @media screen and (max-width: $screen-md) {
      display: none;
      transition: transform 0.4s ease-in-out 0.2s;
    }
  }
}

#safari_logo {
  a {
    position: relative;
  }
}
.nav_items {
  text-align: right;
  a {
    @include font-size(20px);
    font-family: $font-numbers;
    font-weight: 600;
    letter-spacing: 3px;
  }
}
.has-dropdown {
  position: relative;
  .dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    //background: $brand-black;

    li {
      display: block;
      margin-bottom: 7px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        padding: 2px 0;
        display: block;
        color: lighten($brand-black, 60%);
        line-height: 1.2;
        text-transform: none;
        @include font-size(16px);
        letter-spacing: 2px;
        &:hover {
          color: $brand-white;
        }
      }
    }
  }
  &:hover,
  &:focus {
    a {
      color: $brand-primary;
    }
  }
}

// .menu-1 {
// 	@media screen and (max-width: $screen-sm ) {
// 		display: none;
// 	}
// }
// ul {
// 	padding: 0;
// 	margin: 8px 0 0 0;
// 	li {
// 		padding: 0;
// 		margin: 0;
// 		list-style: none;
// 		display: inline;
// 		font-weight: 400;
// 		a {
// 			position: relative;
// 			font-size: 15px;
// 			padding: 30px 12px;
// 			color: rgba(255,255,255,.7);
// 			@include transition(.5s);

// 			&:hover{
// 				color: $brand-primary;
// 			}
// 		}
// 		&.has-dropdown {
// 			position: relative;
// 			.dropdown {
// 				width: 140px;
// 				-webkit-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
// 				-moz-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
// 				box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
// 				z-index: 1002;
// 				visibility: hidden;
// 				opacity: 0;
// 				position: absolute;
// 				top: 40px;
// 				left: 0;
// 				text-align: left;
// 				background: $brand-black;
// 				padding: 20px;
// 				@include border-radius(4px);
// 				@include transition(.0s);
// 				&:before {
// 					bottom: 100%;
// 					left: 40px;
// 					border: solid transparent;
// 					content: " ";
// 					height: 0;
// 					width: 0;
// 					position: absolute;
// 					pointer-events: none;
// 					border-bottom-color: #000;
// 					border-width: 8px;
// 					margin-left: -8px;
// 				}

// 				li {
// 					display: block;
// 					margin-bottom: 7px;
// 					&:last-child {
// 						margin-bottom: 0;
// 					}
// 					a {
// 						padding: 2px 0;
// 						display: block;
// 						color: lighten($brand-black, 60%);
// 						line-height: 1.2;
// 						text-transform: none;
// 						font-size: 13px;
// 						letter-spacing: 0;
// 						&:hover {
// 							color: $brand-white;
// 						}
// 					}
// 				}
// 			}
// 			&:hover, &:focus {
// 				a {
// 					color: $brand-primary;
// 				}
// 			}
// 		}
// 		&.btn-cta {
// 			a {
// 				padding: 30px 0px !important;
// 				color: $brand-white;
// 				span {
// 					background: rgba($brand-primary,1);
// 					padding: 4px 10px;
// 					@include inline-block;
// 					@include transition(.3s);
// 					@include border-radius(100px);
// 				}
// 				&:hover {
// 					span {
// 						-webkit-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
// 						-moz-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
// 						box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
// 					}
// 				}
// 			}
// 		}
// 		&.active {
// 			> a {
// 				color: $brand-primary!important;
// 				position: relative;

// 				&:after{
// 					opacity: 1;
// 					-webkit-transform: translate3d(0, 0, 0);
// 					transform: translate3d(0, 0, 0);
// 				}
// 			}
// 		}
// 	}
// }

// SECTIONS
// #about_intro,
// #featured_destinations,
// #categories {
//   padding: 3rem 0 5rem 0;
//   margin: 5rem 0 0 0;
//   @media screen and (max-width: $screen-sm) {
//     padding: 0;
//     margin: 5rem 0 0 0;
//   }
// }

//NAVBAR MENU STYLING

// HERO VIDEO
.video__wrapper video {
  object-fit: cover;
}

.hero:before,
.video__wrapper video {
  position: absolute;
  width: 100%;
  height: 100%;
}

// HERO OVERLAY EFFECT
.hero:before {
  content: "";
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  //background: linear-gradient(135deg, rgba(10, 10, 10, 0.5) 0%, #1234388c 100%);
}

// HERO TEXTS
.hero__introduction {
  position: absolute;
  z-index: 15;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  .content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    h1 {
      font-family: $font-numbers;
      @include font-size(50px);
      font-weight: 800;
      letter-spacing: 3px;
      line-height: 1.7;
      text-transform: uppercase;
    }
  }
}
.underline {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  //background-color: #212121;
  .square {
    position: relative;
    height: 0;
    border: 1px solid $brand-tertiary;
    overflow: hidden;
  }

  .animate-the-square {
    animation: showsquare 2s forwards;
  }

  @keyframes showsquare {
    0% {
      height: 0;
      width: 0;
    }
    33% {
      height: 25px;
      width: 0;
    }
    66% {
      width: 25px;
      transform: rotate(0);
    }
    100% {
      height: 25px;
      width: 25px;
      transform: rotate(45deg);
    }
  }

  .square #inside-square {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $brand-tertiary;
    left: -100%;
  }

  .animate-the-inside-square {
    animation: showinsidesquare 1s forwards;
  }

  @keyframes showinsidesquare {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }

  .animate-logo {
    animation: showlogo 1s forwards;
  }

  @keyframes showlogo {
    0% {
      top: 45%;
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      top: 25%;
      opacity: 1;
    }
  }

  .line {
    width: 0;
    height: 1px;
    background-color: $brand-tertiary;
    transition: width 0.5s;
  }

  .line.left {
    margin-right: 25px;
  }

  .line.right {
    margin-left: 25px;
  }
}

// BIG HERO TEXT EFFECT
.content-box {
  &__title {
    display: grid;
    font-weight: 700;
    font-size: clamp(1rem, 6vw, 7.5rem);
    font-family: "BebasKai";
    color: #fff;
    letter-spacing: 8px;
    text-transform: uppercase;
    div {
      grid-area: 1/1/-1/-1;
    }
    .top {
      clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
    }
    .bottom {
      clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
      color: transparent;
      background: linear-gradient(177deg, #f7bb8da2 53%, #fff 65%);
      background-clip: text;
      transform: translateX(-0.02em);
    }
  }
}

//ADVERT BIG HERO TEXT
.container__title {
  .content-box {
    &__title {
      display: grid;
      font-weight: 800;
      font-size: clamp(1rem, 5vw, 5.5rem);
      font-family: unset !important;
      color: $brand-primary;
      letter-spacing: 8px;
      text-transform: uppercase;
      div {
        grid-area: 1/1/-1/-1;
      }
      .top {
        clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
      }
      .bottom {
        clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
        color: transparent;
        background: linear-gradient(
          177deg,
          $brand-secondary 53%,
          $brand-primary 65%
        );
        background-clip: text;
        transform: translateX(-0.02em);
      }
    }
  }
}

// HERO QUOTES DISPLAY WITH BTN
blockquote {
  z-index: 20;
  float: right;
  color: #fff;
  font-family: Tahoma, sans-serif;
  font-size: clamp(0.8rem, 1vw, 1.5rem);
}

blockquote p {
  position: relative;
  font-style: italic;
  padding: 0.5rem;
  margin: 0;
}

blockquote p::before,
blockquote p::after {
  content: "“";
  font-family: Georgia;
  font-size: clamp(0.8rem, 1.5vw, 2.5rem);
  position: absolute;
  opacity: 0.5;
}

blockquote p::after {
  content: "”";
  right: 0;
  bottom: -0.3rem;
}
blockquote p::before {
  top: 0.3rem;
  left: 0;
}

blockquote cite {
  font-size: clamp(0.8rem, 1.5vw, 2.5rem);
  font-style: normal;
  float: right;
}
.content-box__btn {
  width: 70%;
}

// HERO PARTTERNS POSITIONING AND DISPLAY
@mixin side($val) {
  @if $val == right {
    right: 0;
    top: 0;
  } @else if $val == left {
    left: 0;
    bottom: 0;
  }
}
.left_down {
  @include side(left);
}
.right_up {
  @include side(right);
  transform: scaleX(-1);
}
.hero__pattern {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 75%;
  width: 45vw;
  opacity: 0.1;
}

//SECTION TITLES

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  &__small {
    h3 {
      position: relative;
      font-family: $font-numbers;
      @include font-size(1rem);
      letter-spacing: 3px;
      text-transform: uppercase;
      line-height: 1.2em;
      font-style: normal;
    }
  }
  &__large {
    h1 {
      font-family: $font-secondary;
      @include font-size(50px);
      letter-spacing: 3px;
      text-transform: capitalize;
      line-height: 1.2em;
      font-style: normal;
      font-weight: 400;
    }
  }
}

// RESPONIVE IMAGES USING NEXT PLUGIN
.unset_img {
  height: 100%;
}
.unset_img img {
  position: unset !important;
}

// STYLING IMAGE IN INTRO SECTION

.intro_image_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .unset_img img {
    width: unset !important;
  }
  .intro_image {
    height: 450px;
    width: 300px;
  }

  @media screen and (max-width: $screen-md) {
    //justify-content: unset !important;
    margin-bottom: 5rem;
    .unset_img img {
      width: 100%;
    }
    .intro_image {
      max-height: 350px;
      width: unset !important;
    }
  }
}
.basic_image {
  height: 50vh;
  .unset_img img {
    width: unset !important;
  }
  @media screen and (max-width: $screen-md) {
    height: 30vh;
  }
  @media screen and (min-width: 100px) and (max-width: $screen-sm) {
    height: 40vh;
  }
}

//COMBINED CLASSES
.about__intro,
.featured,
.categories {
  z-index: 5;
  position: relative;
}

// FEATURED DESTINATIONS

//ADVERT SECTION
.ad_banner {
  box-shadow: rgba(27, 30, 30, 0.3) 0px 5px 12px;
  background-image: url(../../public/assets/images/cheetah-sitting-big-cat-feline-162313.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  display: flex;
  align-items: center;
}

.container__content {
  width: 85%;
  height: 100%;
  position: relative;
  padding: 3rem 0 6rem 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 946px) and (max-width: 1000px) {
    width: 83%;
  }
  @media screen and (min-width: 846px) and (max-width: 946px) {
    width: 80%;
  }
  @media screen and (min-width: 769px) and (max-width: 845px) {
    width: 78%;
  }
  @media screen and (min-width: 580px) and (max-width: $screen-sm) {
    width: 78%;
    padding: 2.5rem 0 5rem 0;
  }
  @media screen and (min-width: 511px) and (max-width: 580px) {
    width: 75%;
    padding: 2rem 0 4rem 0;
  }
  @media screen and (min-width: 100px) and (max-width: 510px) {
    width: 72%;
    padding: 2rem 0 4rem 0;
  }
}

.container__content::before {
  background-color: #ffffff;
  width: 130%;
  height: 100%;
  transform: skewX(-15deg);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.container__svgBox {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 0 20px 0;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__svg {
  margin-top: -7px;
}

.container__svgBox::before {
  background-color: $brand-tertiary;
  width: 70px;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 10px), -50%);
}

.container__svgBox::after {
  background-color: $brand-tertiary;
  width: 70px;
  height: 2px;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(calc(100% + 10px), -50%);
}

.container__title {
  color: #0e0f0f;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
  }
}

.container__subTitle {
  font-family: "BebasKai";
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 3px;
}

.container__subTitle:first-of-type {
  align-self: flex-end;
}

.container__subTitle:last-of-type {
  align-self: flex-start;
}

.container__desc {
  color: #fff;
  max-width: 271px;
  padding-right: 20px;
  margin-top: 35px;
  font-size: 11px;
  line-height: 1.8;
}

//BUTTON STYLING

.intro_btn {
  padding: 2rem 0;
  @media screen and (max-width: $screen-sm) {
    padding: 1rem 0;
  }
}

.button {
  display: inline-block;
  width: auto;
  color: $brand-tertiary;
}

.button.bottom-right {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-right: 7.5vw;
  margin-bottom: 7.5vw;
}

.button-diamond {
  position: relative;
  overflow: hidden;
  width: 3.5vw;
  height: 3.5vw;
  margin: 0.9vw 0.9vw 0.9vw 0.6vw;
  flex: 0 0 auto;
  cursor: pointer;
  border: 1px solid $brand-tertiary;
  transform: rotate(45deg);
  transition: border-color 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  @media screen and (min-width: 100px) and (max-width: $screen-sm) {
    width: 6.5vw;
    height: 6.5vw;
  }
}

.button-text {
  display: inline-block;
  margin-left: 10px;
  flex: 0 0 auto;
  @include font-size($font-size-base);
  font-family: "BebasKai";
  line-height: 2.2vw;
  letter-spacing: 5px;
  text-transform: uppercase;
  &:hover {
    color: $brand-tertiary;
  }
}

.button-inner {
  display: flex;
  align-items: center;
}

.button-diamond-inner {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
}

.button-diamond-arrow-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
}

.arrow-line {
  position: relative;
  width: 40%;
  height: 1px;
  background-color: $brand-tertiary;
}

.arrow-head {
  position: absolute;
  top: 0%;
  bottom: auto;
  width: 8px;
  height: 8px;
  transform-origin: 100% 0%;
}
.arrow-head-right {
  right: 0%;
  margin-right: -1px;
  border-top: 1px solid $brand-tertiary;
  border-right: 1px solid $brand-tertiary;
  transform: translate(0px, 5%) rotate(45deg);
}
.arrow-head-left {
  left: 0%;
  margin-left: -10px;
  border-top: 1px solid $brand-tertiary;
  border-right: 1px solid $brand-tertiary;
  transform: translate(0px, 5%) rotate(225deg);
}

// FOOTER STYLING
.footer {
  color: $brand-white;
  background-color: $brand-secondary;
}
.site-footer {
  @include font-size(14px);
  padding: 70px 0;
}

.site-footer .widget {
  margin-bottom: 40px;
  display: block;
  position: relative;
  z-index: 1;
}
.site-footer .widget h3,
.site-footer .widget .h3 {
  @include font-size(16px);
  font-family: $font-numbers;
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-weight: 700;
}
.site-footer .widget .links {
  width: 150px;
}
.site-footer .widget .links li {
  margin-bottom: 10px;
}

.site-footer .social li {
  display: inline-block;
}
.site-footer .social li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  .site-footer .social li a:before {
    display: none;
  }
  .site-footer .social li a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .site-footer .social li a:hover {
    background: #fda153;
    color: #fff;
  }
}

// .footer_text {
//   font-family: $font-capital;
//   @include font-size(18px);
//   font-weight: 400;
//   letter-spacing: 5px;
// }
// .text-small {
//   @include font-size(12px);
//   letter-spacing: 2px;
// }
// .menu-item {
//   a {
//     letter-spacing: 2px;
//     font-family: $font-primary;
//   }
// }
// .separetor {
//   border-top: 1px solid $brand-tertiary;
// }
// .full-width {
//   .separetor {
//     margin-left: -3rem;
//     margin-right: -3rem;
//   }
// }

// .logo-img {
//   width: 30%;
// }
// .bottom-links {
//   @include font-size(12px);
//   opacity: 0.7;
//   letter-spacing: 2px;
// }

//CAROUSEL CONTROLS
.controls {
  position: relative;
}
.float-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

//FOOTER IMAGE SECTIONS

//NAVBAR SOCIAL ICONS
// .social_icons {
//   width: fit-content;
// }
// .social_icons_container {
//   display: flex;
//   float: right;
// }
