@import "../../node_modules/rfs/scss";
@import "config";
@import "embla";
@import "pages";
@import "external";

/************************************************GLOBAL FUNCTION**************************************/

//MIXINS
@mixin transition($transition) {
  transition: all $transition ease;
}

//MOBILE MENU ITEMS SLIDE IN EFFECTS
// @for $i from 1 through 4 {
//   .menu_item:nth-child(#{$i}) {
//     transition-delay: ($i * 0.1s) + 0.15s;
//   }
// }

//ANIMATIONS
@keyframes MoveRightEnd {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/************************************************DEFAULT SETTINGS/RESETS**************************************/

body {
  line-height: 1.6;
  color: $brand-white !important;
  background: $brand-bg-color !important;
  overflow-x: hidden !important;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: $brand-secondary;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $brand-tertiary;
    border-radius: 10px;
    height: 10px;
  }
}

p {
  font-family: $font-primary;
  letter-spacing: 1.5px;
  @include font-size(14px);
}

a {
  color: $brand-white !important;
  text-decoration: none !important;
  @include transition(0.5s);

  &:hover {
    color: $brand-tertiary !important;
  }
}

section {
  position: relative;
  min-height: 100vh;
  padding: 6rem 0 0;
  .footer_section_image {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0.3;
  }
}

/*******************************STANDARD ELEMENTS/EQUAL PROPERTIES******************************************/

.about__intro,
.featured,
.categories {
  z-index: 5;
  position: relative;
}

/************************************************CUSTOM CLASSES AND IDS************************************/

#hero {
  position: relative;
  height: 100vh;
}

.background-brown {
  background-color: $brand-brown-color !important;
}

.bg-tertiary {
  background-color: $brand-tertiary !important;
}
.bg-secondary {
  background-color: $brand-secondary !important;
}

.text-black {
  color: $brand-black !important;
}

.text-for-bright-bg {
  color: $brand-primary;
}

.text-banner {
  font-family: $font-numbers;
  font-weight: 800;
  letter-spacing: 3px;
  @include font-size(40px);
}
.text-banner-sm {
  font-family: $font-primary;
  font-weight: 300;
  letter-spacing: 2px;
  @include font-size(20px);
}

.text-spacing-pad {
  padding-bottom: 3rem;
  @media (max-width: $screen-md) {
    padding-bottom: 1rem;
  }
}

// HERO PARTTERNS POSITIONING AND DISPLAY
@mixin side($val) {
  @if $val == right {
    right: 0;
    top: 0;
  } @else if $val == left {
    left: 0;
    bottom: 0;
  }
}
.left_down {
  @include side(left);
}
.right_up {
  @include side(right);
  transform: scaleX(-1);
}
.hero__pattern {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 75%;
  width: 45vw;
  opacity: 0.1;
}

//BUTTON STYLING

// .intro_btn {
//   padding: 2rem 0;
//   @media screen and (max-width: $screen-sm) {
//     padding: 1rem 0;
//   }
// }

// .button {
//   display: inline-block;
//   width: auto;
//   color: $brand-tertiary;
// }

// .button.bottom-right {
//   position: absolute;
//   left: auto;
//   top: auto;
//   right: 0%;
//   bottom: 0%;
//   margin-right: 7.5vw;
//   margin-bottom: 7.5vw;
// }
.bt {
  &:hover {
    .button-text {
      color: $brand-tertiary;
      &:before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
      }
    }
    // .button-diamond-inner {
    //   animation: MoveRightEnd 0.3s forwards 0.2s;
    // }
  }
}
.button-diamond {
  position: relative;
  overflow: hidden;
  width: 3vw;
  height: 3vw;
  margin: 0.9vw 0.9vw 0.9vw 0.6vw;
  flex: 0 0 auto;
  cursor: pointer;
  border: 1px solid $brand-tertiary;
  transform: rotate(45deg);

  @media screen and (min-width: 100px) and (max-width: $screen-sm) {
    width: 6.5vw;
    height: 6.5vw;
  }
}

.button-text {
  display: inline-block;
  margin-left: 10px;
  flex: 0 0 auto;
  @include font-size($font-size-base);
  font-family: "BebasKai";
  line-height: 2.2vw;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: $brand-tertiary;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }
  @media screen and (max-width: $screen-md) {
    &:before {
      content: "";
      top: 150%;
    }
  }

  &:hover {
    color: $brand-tertiary;
    &:before {
      transform-origin: 0% 50%;
      transform: scale3d(1, 1, 1);
    }
  }
}

.button-inner {
  display: flex;
  align-items: center;
}

.button-diamond-inner {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
}

.button-diamond-arrow-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
}

.arrow-line {
  position: relative;
  width: 40%;
  height: 1px;
  background-color: $brand-tertiary;
}

.arrow-head {
  position: absolute;
  top: 0%;
  bottom: auto;
  width: 8px;
  height: 8px;
  transform-origin: 100% 0%;
}
.arrow-head-right {
  right: 0%;
  margin-right: -1px;
  border-top: 1px solid $brand-tertiary;
  border-right: 1px solid $brand-tertiary;
  transform: translate(0px, 5%) rotate(45deg);
}
.arrow-head-left {
  left: 0%;
  margin-left: -10px;
  border-top: 1px solid $brand-tertiary;
  border-right: 1px solid $brand-tertiary;
  transform: translate(0px, 5%) rotate(225deg);
}

//SECTION TITLES
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  &__small {
    h3 {
      position: relative;
      font-family: $font-numbers;
      @include font-size(1rem);
      letter-spacing: 3px;
      text-transform: uppercase;
      line-height: 1.2em;
      font-style: normal;
    }
  }
  &__large {
    h1 {
      font-family: $font-secondary;
      @include font-size(50px);
      letter-spacing: 3px;
      text-transform: capitalize;
      line-height: 1.2em;
      font-style: normal;
      font-weight: 400;
    }
  }
}

//IMAGES
.unset_img {
  height: 100%;
}
.unset_img img {
  position: unset !important;
}

//BULLET POINTS
.boldlist {
  list-style: none;
  max-width: 80%;
  position: relative;
  @media screen and (max-width: $screen-sm) {
    padding-left: 0px;
  }

  li {
    position: relative;
    padding: 0px 0px 40px 60px;
    @media screen and (max-width: $screen-sm) {
      padding: 0px 0px 20px 40px;
    }
    h3 {
      @include font-size(20px);
      font-weight: 400;
      font-family: $font-secondary;
      color: $brand-white;
      letter-spacing: 2px;
      margin-bottom: 5px;
    }
    p {
      max-width: 470px;
      &:last-child {
        margin-bottom: 0px;
      }
      span {
        display: flex;
        a {
          display: inline-block;
          color: $brand-white;
          text-decoration: underline;
          padding: 0px 8%;
          &:first-child {
            padding-left: 0px;
          }
          &:last-child {
            padding-right: 0px;
          }
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 0px;
      height: 26px;
      width: 26px;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 4px rgba($brand-tertiary, 0.16),
        0px 0px 0px 8px rgba($brand-tertiary, 0.06);
      background: $brand-tertiary;
      @media screen and (max-width: $screen-sm) {
        height: 20px;
        width: 20px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 13px;
      height: 100%;
      width: 1px;
      background: $brand-tertiary;
      @media screen and (max-width: $screen-sm) {
        left: 10px;
      }
    }
    &:last-child {
      padding-bottom: 0px;
      &::before {
        display: none;
      }
    }
  }
  @media screen and (min-width: 620px) and (max-width: $screen-sm) {
    li {
      padding: 0px 0px 30px 30px;
      &::after {
        height: 15px;
        width: 15px;
      }
      &::before {
        left: 7px;
      }
      h3 {
        font-size: 16px;
        margin-bottom: 8px;
      }
      p {
        max-width: 260px;
        line-height: 18px;
      }
    }
  }

  @media screen and (min-width: 570px) and (max-width: 619px) {
    .boldlist::after {
      display: none;
    }
  }
  @media screen and (min-width: 100px) and (max-width: 569px) {
    max-width: 100%;
  }
}

//GRID
.grids-col-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1em;
  @media screen and (max-width: $screen-sm) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.col-span-2 {
  grid-column: span 2 / span 2;
}

//FORM
.form-control {
  color: #212529;
  background-color: #d6d3ce;
  border: 1px solid $brand-tertiary;
  border-radius: 0;
  line-height: 1.8;
  padding: 1rem 0.75rem;
}

/************************************************NAVBAR MENU STYLING**************************************/
/*Navbar*/
.nav-cont {
  position: fixed;
  visibility: hidden;
  z-index: 50;
  width: 100%;
  top: -300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 2rem 4rem;

  @include transition(0.5s);
  &.active {
    top: 0;
    visibility: visible;
    background-color: $brand-black;
    border-bottom: 1px solid $brand-tertiary;
  }
  &.main-menu {
    top: 0;
    visibility: visible;
    background: rgba(36, 36, 36, 0.021);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
/*Logo*/
.logo_text {
  width: calc(100px + 1vw);
  display: block;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100vw;
  background: $brand-primary;
  top: -350px;
  transition: all 0.4s;
  z-index: 0;

  &.show {
    top: 90px !important;
  }
}

.menu_item {
  padding: 15px 15px;
  list-style: none;
  margin: 0 auto;
}

.menu_link {
  z-index: inherit;
  font-family: $font-numbers;
  letter-spacing: 2px;
  @include font-size(18px);
  color: $brand-white;
  font-weight: 600;
  @include transition(0.5s);
  &:after {
    content: " ";
    display: block;
    height: 2px;
    width: 42px;
    margin: 0 auto;
    margin-top: 6px;
    background-color: #ffae00;
    visibility: hidden;
  }
  &:hover {
    &:after {
      visibility: visible;
    }
  }
}

// .phone {
//   text-align: left;
//   display: none;
//   font-family: $font-numbers;
//   letter-spacing: 2px;
//   @include font-size(14px);
//   color: $brand-white;
//   font-weight: 600;
//   z-index: 30;
// }
// .phone_order {
//   color: $brand-tertiary;
// }
// .phone_number {
//   position: relative;
//   display: block;
//   color: $brand-white;
//   font-family: inherit;
//   font-size: inherit;
// }

// /*login*/
// .login {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   position: absolute;
//   left: 0;
//   width: 100vw;
//   background: #414141;
//   top: -250px;
//   transition: all 0.4s;
//   z-index: 2;
// }

// .login_link {
//   color: #e6e6e6;
//   padding: 0.6em 1.5em;
//   font-family: "Open Sans", sans-serif;
//   font-size: 0.9em;
//   font-weight: bold;
// }

// .login_link--button {
//   padding: 10px 20px;
//   background-color: #8ca93e;
//   border-radius: 16px;
// }

.btn_menu {
  display: inline-block;
  font-size: 25px;
  color: $brand-white;
  cursor: pointer;
}

@media screen and (min-width: 680px) {
  .navbar-wrap {
    justify-content: space-between;
    padding: 10px;
  }
}
@media screen and (max-width: $screen-md) {
  .navbar-wrap {
    justify-content: space-between;
    padding: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .menu {
    all: initial;
    display: flex;
  }

  .btn_menu {
    display: none !important;
  }

  .pizza_list {
    justify-content: space-evenly;
  }
}

// .brand_nav {
//   position: fixed;
//   top: -150px;
//   width: 100%;
//   z-index: 50;
//   @include transition(0.5s);
//   @media screen and (max-width: $screen-md) {
//     top: 0;
//   }
//   &.active {
//     top: 0;
//     //box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
//   }
// }

// .top-menu {
//   padding: 5px 30px;

//   @media screen and (max-width: $screen-sm) {
//     padding: 5px 1em;
//   }
// }
// .menu-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .logo {
//   width: 10%;
//   @media screen and (min-width: 431px) and (max-width: $screen-sm) {
//     width: 30%;
//   }
//   @media screen and (min-width: 100px) and (max-width: 430px) {
//     width: 50%;
//   }
// }

// .menu-wrap {
//   width: 90%;
// }
// .menu {
//   background: rgba(0, 0, 0, 0.29);
//   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//   backdrop-filter: blur(5px);
//   width: fit-content;
//   float: right;
//   @include transition(0.5s);

//   &:hover {
//     background: rgba(0, 0, 0, 0.95);
//     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//     backdrop-filter: blur(5px);
//   }
//   @media screen and (min-width: 431px) and (max-width: $screen-sm) {
//     width: 70%;
//   }
//   @media screen and (min-width: 100px) and (max-width: 430px) {
//     width: 50%;
//   }
// }

// .nav-wrap {
//   position: relative;
// }

// .navitem {
//   display: block;
//   float: right;

//   @include transition(0.5s);
//   @media screen and (max-width: $screen-md) {
//     transform: translateY(-100%);
//     position: fixed;
//     width: 50%;
//     right: 0;
//     top: 0;
//     background: $brand-black;
//     height: 100vh;
//     box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
//     &.open {
//       transform: translateY(0);
//     }
//     @media screen and (min-width: 100px) and (max-width: $screen-sm) {
//       width: 100%;
//     }
//   }
// }

// #safari_logo {
//   a {
//     position: relative;
//   }
// }

// .nav_items {
//   text-align: right;
//   a {
//     @include font-size(20px);
//     font-family: $font-numbers;
//     font-weight: 600;
//     letter-spacing: 3px;
//   }
// }

// .menu-items {
//   display: flex;
//   margin: 0;
//   align-items: center;
//   padding: 0;
//   list-style: none;
//   flex-direction: row;
//   @media screen and (max-width: $screen-md) {
//     flex-direction: column;
//     height: 100%;
//     justify-content: center;
//   }

//   li {
//     padding: 0 2rem;
//     margin: 1rem 0;
//     @include transition(0.5s);
//     a {
//       font-family: $font-numbers;
//     }
//     @media (max-width: $screen-md) {
//       transform: translateX(100vw);
//       &.open {
//         transform: translateX(0);
//       }
//     }
//   }
// }

/************TOGGLE MENU MOBILE BUTTON****************/
.sidebar__menu {
  float: right;
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 50;
  cursor: pointer;
  transition: transform 0.4s ease-in-out 0.2s;

  &:before,
  &:after {
    content: "";
    height: 2px;
    width: 24px;
    background: $brand-white;
    display: block;
    position: absolute;
    transition: transform 0.4s ease-in-out 0.2s;
  }
  &:before {
    transform: translatex(0) rotate(45deg);
  }
  &:after {
    transform: translatex(0) rotate(133deg);
  }
  @media (max-width: $screen-sm) {
    &:before,
    &:after {
      content: "";
      height: 1px;
    }
  }
  &.open {
    @media screen and (max-width: $screen-md) {
      display: flex;
      transition: transform 0.4s ease-in-out 0.2s;
    }
  }
  &.close {
    @media screen and (max-width: $screen-md) {
      display: none;
      transition: transform 0.4s ease-in-out 0.2s;
    }
  }
}
.ham_container {
  float: right;
  position: relative;
  z-index: 50;
}
.hamburger {
  display: flex;
  height: 24px;
  width: 24px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;

  &__icon {
    display: inline-block;
    height: 1px;
    width: 24px;
    background: #fff;
    border-radius: 2px;
    transition: transform 0.4s ease-in-out 0.2s;
  }
  &.open {
    @media screen and (max-width: $screen-md) {
      display: flex;
      transition: transform 0.4s ease-in-out 0.2s;
    }
  }
  &.close {
    @media screen and (max-width: $screen-md) {
      display: none;
      transition: transform 0.4s ease-in-out 0.2s;
    }
  }
}

/*************************************************LANDING PAGE**************************************/

// HERO VIDEO

.video__wrapper video {
  object-fit: cover;
}

.hero:before,
.video__wrapper video {
  position: absolute;
  width: 100%;
  height: 100%;
}

// HERO OVERLAY EFFECT
.hero:before {
  content: "";
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  //background: linear-gradient(135deg, rgba(10, 10, 10, 0.5) 0%, #1234388c 100%);
}

// HERO TEXTS
.hero__introduction {
  position: absolute;
  z-index: 15;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  .content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    h1 {
      font-family: $font-numbers;
      @include font-size(50px);
      font-weight: 800;
      letter-spacing: 3px;
      line-height: 1.7;
      text-transform: uppercase;
    }
  }
}

//TEXT UNDERLINE
.underline {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  .square {
    position: relative;
    height: 0;
    border: 1px solid $brand-tertiary;
    overflow: hidden;
  }

  .animate-the-square {
    animation: showsquare 2s forwards;
  }

  @keyframes showsquare {
    0% {
      height: 0;
      width: 0;
    }
    33% {
      height: 25px;
      width: 0;
    }
    66% {
      width: 25px;
      transform: rotate(0);
    }
    100% {
      height: 25px;
      width: 25px;
      transform: rotate(45deg);
    }
  }

  .square #inside-square {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $brand-tertiary;
    left: -100%;
  }

  .animate-the-inside-square {
    animation: showinsidesquare 1s forwards;
  }

  @keyframes showinsidesquare {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }

  .animate-logo {
    animation: showlogo 1s forwards;
  }

  @keyframes showlogo {
    0% {
      top: 45%;
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      top: 25%;
      opacity: 1;
    }
  }

  .line {
    width: 0;
    height: 1px;
    background-color: $brand-tertiary;
    transition: width 0.5s;
  }

  .line.left {
    margin-right: 25px;
  }

  .line.right {
    margin-left: 25px;
  }
}

/*************************************************ADVERT MAIN**************************************/

// BANNER TEXT EFFECT
.content-box {
  &__title {
    display: grid;
    font-weight: 700;
    font-size: clamp(1rem, 6vw, 7rem);
    font-family: "BebasKai";
    color: #fff;
    letter-spacing: 8px;
    text-transform: uppercase;
    div {
      grid-area: 1/1/-1/-1;
    }
    .top {
      font-family: $font-secondary;
      clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
    }
    .bottom {
      font-family: $font-secondary;
      clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
      color: transparent;
      background: linear-gradient(177deg, #f7bb8da2 53%, #fff 65%);
      background-clip: text;
      transform: translateX(-0.02em);
    }
  }
}

.container__title {
  .content-box {
    &__title {
      display: grid;
      font-weight: 800;
      font-size: clamp(1rem, 5vw, 5.5rem);
      font-family: unset !important;
      color: $brand-primary;
      letter-spacing: 8px;
      text-transform: uppercase;
      div {
        grid-area: 1/1/-1/-1;
      }
      .top {
        clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
      }
      .bottom {
        clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
        color: transparent;
        background: linear-gradient(
          177deg,
          $brand-secondary 53%,
          $brand-primary 65%
        );
        background-clip: text;
        transform: translateX(-0.02em);
      }
    }
  }
}
.ad_banner {
  box-shadow: rgba(27, 30, 30, 0.3) 0px 5px 12px;
  background-image: url(../../public/assets/images/cheetah-sitting-big-cat-feline-162313.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  display: flex;
  align-items: center;
}

.container__content {
  width: 85%;
  height: 100%;
  position: relative;
  padding: 3rem 0 6rem 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 946px) and (max-width: 1000px) {
    width: 83%;
  }
  @media screen and (min-width: 846px) and (max-width: 946px) {
    width: 80%;
  }
  @media screen and (min-width: 769px) and (max-width: 845px) {
    width: 78%;
  }
  @media screen and (min-width: 580px) and (max-width: $screen-sm) {
    width: 78%;
    padding: 2.5rem 0 5rem 0;
  }
  @media screen and (min-width: 511px) and (max-width: 580px) {
    width: 75%;
    padding: 2rem 0 4rem 0;
  }
  @media screen and (min-width: 100px) and (max-width: 510px) {
    width: 72%;
    padding: 2rem 0 4rem 0;
  }
}

.container__content::before {
  background-color: #ffffff;
  width: 130%;
  height: 100%;
  transform: skewX(-15deg);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.container__svgBox {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 0 20px 0;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__svg {
  margin-top: -7px;
}

.container__svgBox::before {
  background-color: $brand-tertiary;
  width: 70px;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 10px), -50%);
}

.container__svgBox::after {
  background-color: $brand-tertiary;
  width: 70px;
  height: 2px;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(calc(100% + 10px), -50%);
}

.container__title {
  color: #0e0f0f;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
  }
}

.container__subTitle {
  font-family: "BebasKai";
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 3px;
}

.container__subTitle:first-of-type {
  align-self: flex-end;
}

.container__subTitle:last-of-type {
  align-self: flex-start;
}

.container__desc {
  color: #fff;
  max-width: 271px;
  padding-right: 20px;
  margin-top: 35px;
  font-size: 11px;
  line-height: 1.8;
}

/************************************************FOOTER STYLING******************************************/

.footer {
  color: $brand-white;
  background-color: $brand-secondary;
}
.site-footer {
  @include font-size(14px);
  padding: 70px 0;
}

.site-footer .widget {
  margin-bottom: 40px;
  display: block;
  position: relative;
  z-index: 1;
}
.site-footer .widget h3,
.site-footer .widget .h3 {
  @include font-size(16px);
  font-family: $font-numbers;
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-weight: 700;
}
.site-footer .widget .links {
  width: 150px;
}
.site-footer .widget .links li {
  margin-bottom: 10px;
}

.site-footer .social li {
  display: inline-block;
}
.site-footer .social li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  .site-footer .social li a:before {
    display: none;
  }
  .site-footer .social li a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .site-footer .social li a:hover {
    background: #fda153;
    color: #fff;
  }
}

//CAROUSEL CONTROLS
.controls {
  position: relative;
  @media screen and (max-width: $screen-md) {
    padding: 5rem 0;
  }
}
.float-bottom {
  width: 100%;
  position: absolute;
  bottom: 20px;
  @media screen and (max-width: $screen-md) {
    bottom: -20px;
  }
}
